* {
    margin: 0;
    margin-left: 2px;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font: 16px 'Roboto', sans-serif;
    color: #FFF;
    background: #121214;
}

::-webkit-scrollbar {
    width:10px;
}

::-webkit-scrollbar-thumb {
    background-color:rgb(74, 73, 73);

    &:hover {
        background-color: #5f5f5f;
    }
}