section.repository-list {
    margin: 40px;
    padding-left: 20px;

    h1 {
        margin-bottom: 30px;
        color: #f8f8f2;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        font-size: 30px;
        text-transform: uppercase;
    }

    ul {
        list-style: none;

        li {
            & + li {
                margin-top: 25px;
            }

            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;

            border: solid 2px;
            border-image: linear-gradient(to right, #fc210d, #450a3b) 1;
            
            width: 730px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
            }

            transition: background-color .3s;
            cursor: pointer;

            div {
                display: flex;
                align-items: center;
                gap: 6px;
            }
        }

        strong {
            border-bottom: solid #8D8D99;
            border-bottom-width: 1px;
            padding-bottom: 2px;

            color: #FFF;
        }

        p {
            font-size: 16px;
            color: #E1E1E6;
            margin-top: 6px;
            margin-bottom: 10px;
        }

        a { 
            text-decoration: none;
            color: #00B37E;
        }
    }
}

section.card {

    margin: 40px;
    position: fixed;
    right: 35px;

    h1 {
        margin-bottom: 30px;
        color: #f8f8f2;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        font-size: 30px;
        text-transform: uppercase;
    }

    ul {
        list-style: none;
        
        li {
            width: 410px;
            height: 450px;

            border: solid 2px;
            border-radius: 40px;
            border-image: linear-gradient(to right, #fc210d, #450a3b) 1;
            
            div.main-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                padding-right: 2px;
        
                h2 {
                    margin-top: 25px;
                }
        
                p {
                    color: #E1E1E6;
                }
        
                span {
                    font-family: 'High Summit', sans-serif;
                    margin-top: 20px;
                    margin-bottom: 25px;
                    color: #E1E1E6;
                }
        
        
                div.image-div {
                    display: flex;
                    flex-direction: column;
        
                    height: 200px;
                    width: 200px;
                    border-radius: 100px;
                    background-image: linear-gradient(to right, #450a3b, #fc210d);
        
                    img {
                        height: 200px;
                        width: 200px;
                        border-radius: 100px;
                        padding: 4px;
        
                        display: block;
                        margin: auto;
                    }
                }
        
                div.links {
                    
                    display: flex;
                    flex-direction: row;
                    gap: 8px;

                    a {
                        color: #00B37E;

                        &:hover {
                            color: #fc210d;
                        }

                        transition: color .1.5s;
                    }
                }
            }
        }        
    }  
}

div.teste {
    display: flex;
    flex-direction: row;
    gap: 80px;
}